.LabForm{
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    border-radius: 5px;
}
.FormTitle{
    align-self: center;
    font-size: 3vh;
}
.FormHeader{
    display:flex;
    flex-direction: column;
    margin:auto;
    min-height: 150px;
    justify-content: center;
} 
.SerialFieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.SerialInputBar{
    display:flex;
    align-items: center;
    width: 80%;
}
#SerialField{
    display: block;
    border-radius: .375rem;
    color:#212529;
    background-color: #fff;
    font-weight: 400;
    font-size: large;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height : calc(3.5rem + 2px);
    width: max(200px, 30vw) ;
    margin-left: 10px;
}
.SerialFieldValidation{
    display:none;
}
select{
    width:80%;
    align-self: center;
    height: 4vh;
    max-height: 25px;
}
.DropLocation{
    display: flex;
    flex-direction: column;
    background-color: #c8dadf;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
.DropLocation__icon{
    width: 100%;
    fill:#92b0b3;
    /*margin-top: 20px;*/
}
.InputHolder{
    position:relative;
}
.fileInput{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    opacity:0%;
    height: 100%;
    z-index:1;
    cursor: pointer;
}
.resultFileDisplay{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: lightgreen;
    z-index: 3;
    text-align: center;

}
button {
    /*background-color: dodgerblue;*/
    background-color: #39bfd3;
    height: 4vh;
    width: 60%;   
    align-self: center;    
    justify-self: center;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
button.reset{
    background-color: dodgerblue;
    float: right;
    width:20%;
    cursor: pointer;
    border-radius: 10px;
}
